
gamemode/maps/rp_paralake_city_v3/properties/city_apartment_104.lua
gamemode/maps/rp_paralake_city_v3/properties/nome_da_casa_sem_espace.lua
gamemode/maps/rp_paralake_city_v3/properties/city_apartment_104.lua
gamemode/maps/rp_paralake_city_v3/properties/city_apartment_104.lua
